{% extends "main.html" %}
{% block first_body %}

{% if come_people_name_list != False %}
<div class=" container row row-cols-1 row-cols-md-3 g-4 my-3 mx-1">
    {% for name in come_people_name_list %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mt-2">{{name}}</h5>
            </div>
            <div class="card-body">
                <P>오늘의 과자:</P>
                {% if (not g.user) or (name != g.user.username) %}
                <ul>
                    {% for each_data in snack_all_data %}
                        {% if each_data.username_user == name %}  
                        <li>
                            {{each_data.content}}                           
                        </li>
                        <br>
                        {% endif %}
                    {% endfor %}
                </ul>
                <textarea disabled name="snack_content" id ="snack_content" class="form-control mb-2"></textarea>
                {% else %}
                {% include "form_errors.html" %}
                <form method="post">
                    <ul>
                        {% for each_data in snack_all_data %}
                            {% if each_data.username_user == name %}
                            <li>
                                <div style="float:left;">
                                {{each_data.content}}
                                </div>
                                <div style="float:right;">
                                    <a href="{{ url_for('date.delete_snack_function', snack_id = each_data.id)+'?dates'+'=%s-%s-%s' %(year, month, day) }}" 
                                    class="btn btn-sm btn-outline-secondary">삭제</a>
                                </div>
                            </li>
                            <br>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {{ form.csrf_token }}
                    <textarea name="snack_content" id ="snack_content" class="form-control mb-2"></textarea>
                    <button type="submit" class="btn btn-primary">내용등록</button>
                </form>
                {% endif %} 
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="container mt-3">
    <h3>오늘은 아무도 파인만을 오지 않습니다 :( </h3>
    <h5>너무하네요....</h5>
    <a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-info">돌아가기</button></a>
</div>
{% endif %}

{% endblock first_body %}




<!--
    개행없이 한줄에 왼쪽 오른쪽으로 넣을려고 노력한 흔적
<div style="text-align:right">
    <a href="#" class="btn btn-sm btn-outline-secondary">삭제</a>
</div>

<span style="width:49%;">
{{each_data.content}}
</span>
<span style="float:right;width:49%;">
    <a href="#" class="btn btn-sm btn-outline-secondary">삭제</a>
</span>
-->